{% extends "base.html" %}

{% block title %}Flaskin{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Filters In Templates</h1>
</div>
<div>
  <h3>capitalize: {{ lower|capitalize }}</h3>
  <h3>lower: {{ upper|lower}} </h3>
  <h3>upper: {{ lower|upper }}</h3>
  <h3>title: {{ phrase|title }}</h3>
</div>
{% endblock %}
<!--
List of available filters for templates:

safe - Renders the value without applying escaping
capitalize - Converts the first character of the value to uppercase and the rest to lowercase
lower - Converts the value to lowercase characters
upper - Converts the value to uppercase characters
title - Capitalizes each word in the value
trim - Removes leading and trailing whitespace from the value
striptags - Removes any HTML tags from the value before rendering
-->
